<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Training">
    <listeners>
        <listener class-name="com.listeners.TestReporter" />
        <listener class-name="com.listeners.TestResultsListener" />
    </listeners>
    <test name="Example Edge">
        <classes>
            <class name="com.CucumberRunner" />
        </classes>
    </test>
</suite>